<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/style.css')}}"
    />
    <title>Add Books</title>
  </head>
  <body>
    <div class="header">
      <div class="header-buttons">
        <a href="{{ url_for('book_list')}}"
          ><button class="btn element">My Library</button></a
        >
        <a href="{{ url_for('add_book')}}"
          ><button class="btn element add-books">Add Books</button></a
        >
        <a href="{{ url_for('index')}}"
          ><button class="btn element add-books">Search</button></a
        >
        {% if not email %}
        <a href="{{ url_for('login')}}"
          ><button class="btn element add-books">Login</button></a
        >
        <a href="{{ url_for('register')}}"
          ><button class="btn element add-books">Register</button></a
        >
        {% endif %} {% if email %}
        <a href="{{ url_for('logout')}}"
          ><button class="btn element add-books">Logout</button></a
        >

        <button class="show-email">{{email}}</button>
        {% endif %}
      </div>
      <h1>Bookity</h1>
      <p>Discover, rate, and share books!</p>
    </div>
    <div class="add-book">
      <h3>Add a book</h3>
      <form method="post">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" required /><br />
        <label for="author">Author</label>
        <input type="text" id="author" name="author" required /> <br />
        <label for="rating">Rating</label>
        <input
          type="text"
          name="rating"
          id="rating"
          class="rating-box"
          required
        />
        <label for="tags">Tags</label>
        <input type="text" name="tags" id="tags" class="tags-box" required />
        <br />
        <label for="status">Status</label>
        <select name="status" id="status" required>
          <option selected="true" disabled="disabled">Select one</option>
          <option value="To-Read">To-read</option>
          <option value="Currently Reading">Currently Reading</option>
          <option value="Read">Read</option>
        </select>
        <br />
        <button type="submit">Add</button>
      </form>
    </div>
    {% if result %}
    <h2>{{result}}</h2>
    {% endif %}
    <h3>{{result}}</h3>
    <script>
      const params = new URLSearchParams(window.location.search);
      const title = params.get("title"); // Extract "title" from URL
      const author = params.get("author");

      // Populate the form field if a title exists in the URL
      if (title) {
        document.getElementById("title").value = decodeURIComponent(title);
      }
      if (author) {
        document.getElementById("author").value = decodeURIComponent(author);
      }
    </script>
  </body>
</html>
