<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/style.css')}}"
    />
    <title>Bookity</title>
  </head>
  <body>
    <div class="header">
      <div class="header-buttons">
        <a href="{{ url_for('book_list')}}"
          ><button class="btn element">My Library</button></a
        >
        <a href="{{ url_for('add_book')}}"
          ><button class="btn element add-books">Add Books</button></a
        >
        <a href="{{ url_for('index')}}"
          ><button class="btn element add-books">Search</button></a
        >
        {% if not email %}
        <a href="{{ url_for('login')}}"
          ><button class="btn element add-books">Login</button></a
        >
        <a href="{{ url_for('register')}}"
          ><button class="btn element add-books">Register</button></a
        >
        {% endif %} {% if email %}
        <a href="{{ url_for('logout')}}"
          ><button class="btn element add-books">Logout</button></a
        >

        <button class="show-email">{{email}}</button>
        {% endif %}
      </div>
      <h1>Bookity</h1>
      <p>Discover, rate, and share books!</p>
    </div>
    <!-- end header -->
    <form action="search">
      <label for="search-bar">Book Title</label>
      <input type="text" id="search-bar" name="q" />
      <button type="submit">Search</button>
    </form>
    {% if titles %}
    <h2>Results</h2>
    {% for title in titles %}
    <a href="add?title={{title}}&author={{authors[loop.index0]}}"
      ><p class="book-search-results">
        {{title}} by {{authors[loop.index0]}}
      </p></a
    >
    <br />
    {% endfor %} {% endif %}
  </body>
</html>
