body {
    background-color: whitesmoke;
    margin: 0px;
    padding: 0px;
}

.header {
    margin-top: 0;
    padding: 10px;
    text-align: center;
    background-color: teal;
    color: white;
    font-size: 30px;
}
/* header buttons only */
.btn.element {
width: 160px;
padding: 10px;
border-radius: 10px;
background-color: steelblue;
color: black;

}
/* BEGIN Login/Register pages */
.auth {
    margin-left: 2rem;
}
.auth-form {
    padding-left: 5px;
    font-size: 20px;
    color: black;
    border-radius: 15px;
}

.change-auth-screen {
    font-size: 15px;
    color: blue;
    margin-left: 2rem;
}

/* END login/register pages */

h1 {
    text-align: center;
    font-size: 50px;

}

h2 {
    text-align: center;
    font-size: 30px;
}

.add-book {
    background-color: steelblue;
    border-radius: 10px;
    color: black;
}

label, button {
font-size: 25px;
margin-left: 10px;
width: 100px
}
.add-book input {
    margin: 10px;
    font-size: 25px;
    border-radius: 8px;
}
select {
    font-size: 25px;
    border-radius: 10px;
}
.rating-box, .year-box {
    width: 60px;
}

.tags-box {
width: 100px;
}

.add-book h3 {
    font-size: 40px;
    margin-left: 10px;
}

/* book-list.html CSS below */

.book-list {
text-align: center;
}

table {
    font-size: 30px;
    margin-left: 20px;
}

th {
    padding: 10px;
}

td {
    border-collapse: collapse;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

/* .add-books {
    width: 200px;
} */
 
.username {
    width: 120px;
    background-color: skyblue;
    padding: 10px;
    border-radius: 10px;
}

.edit-icon-img {
    width: 100px;
    height: 100px;
    content: cover;
}